@import "src/app/variables.scss";

.drawer2 {
    width: var(--section5);
    height: 100dvh;
}

.pageContainer {
    width: 100dvw;
    height: 100dvh;

    display: grid;
    grid-template-rows: var(--section13) auto;

    .contactsSection {
        height: 100%;
    }
}